[user]
  name = Kamal Mukkamala
  email = kamalnrf@gmail.com

[pull]
  rebase = true
[branch]
  autosetuprebase = always
[alias]
  status-l = status
  status = status -sb
  rh = reset --hard HEAD
  b = checkout -b
  co = checkout
  ca = commit -a --verbose
  cp = cherry-pick
  amend = commit -a --amend --no-edit
  unstage = reset --soft HEAD
  cdiff = "!git diff $1 $1^"
  tags = tag -l
	branches = branch --all
	remotes = remote --verbose
  aliases = config --get-regexp alias
  credit = "!f() { git commit --amend --author \"$1 <$2>\" -C HEAD; }; f"
  # Remove branches that have already been merged with main.
	# a.k.a. ‘delete merged’
	dm = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"
  whoami = config user.email
[apply]
	whitespace = fix
[push]
  default = current
[core]
  excludesfile = ~/.gitignore_global
  pager = delta --theme="night-owlish"
  whitespace = space-before-tab,-indent-with-non-tab,trailing-space
  # Make `git rebase` safer on macOS.
	# More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
	trustctime = false
  # Prevent showing files whose names contain non-ASCII symbols as unversioned.
	# http://michael-kuehnel.de/git/2014/11/21/git-mac-osx-and-german-umlaute.html
	precomposeunicode = false
  # Speed up commands involving untracked files such as `git status`.
	# https://git-scm.com/docs/git-update-index#_untracked_cache
	untrackedCache = true
[interactive]
    diffFilter = delta --color-only
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[help]
	autocorrect = 1
[merge]
	log = true
[push]
	# https://git-scm.com/docs/git-config#git-config-pushdefault
	default = simple
	# Make `git push` push relevant annotated tags when pushing branches out.
	followTags = true
[url "git@github.com:"]
	insteadOf = "gh:"
	pushInsteadOf = "github:"
	pushInsteadOf = "git://github.com/"
[url "git://github.com/"]
	insteadOf = "github:"
[url "git@gist.github.com:"]
	insteadOf = "gst:"
	pushInsteadOf = "gist:"
	pushInsteadOf = "git://gist.github.com/"
[url "git://gist.github.com/"]
	insteadOf = "gist:"
[init]
	defaultBranch = main
